# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.evolution of creatures.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ernie\Documents\Unity  Projects\evolution of creatures\.idea\.idea.evolution of creatures\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
